doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='example.css')
  body
    div#ipad
      p Esto es un párrafo común y silvestre. Abajo ponemos una tabla
      table#prettyTable
        tr 
          td Código 
          td Detalle 
          td Imagen
        tr
          td.codigo 1
          td.detalle Acá iría el detalle
          td img.imagenes (src='suricata.jpg')
        tr
          td.codigo siempre
          td.detalle es
          td igual
      p.detalle Vale tener cosas con formato detalle acá también
      p.codigo Vale tener cosas con formato codigo acá también
      img.imagenes(src='suricata.jpg')