body
  font-family arial
  background-color #ddd
  
#ipad 
  width 768px
  height 1024px
  border 1px solid black
  margin-right 5px
  
#prettyTable tr td
  border 1px solid black
  border-collapse collapse
  
.detalle
  font-size 80%

.codigo
  fond-size 150%
  
.imagenes
  height 200px
  width 250px