body
  font-family arial
  font-size 20px
  background-color #ddd
  
#ipad 
  width 768px
  height 1024px
  border 2px solid blue
  padding 10px
//  margin-right 5px
  
#prettyTable
  border 2px solid black
  border-collapse collapse

#prettyTable tr td
  border 1px solid black
  
.detalle
  font-size 90%

.codigo
  fond-size 150%
  
.imagenes
  height 200px
  width 250px
  
.destacado
  font-weight bold