.json-displayer
  font-family arial
  border 1px solid green
  td
    vertical-align top
  [datatype]
    color blue
  [datatype="string"]
    color green
  [datatype="RegExp"]
    color red
